In [29]:
import numpy as np
import pandas as pd
import scipy

import statsmodels
import statsmodels.api as sm
from statsmodels.formula.api import ols

# Extract the data. Return both the raw data and dataframe
def generateDataset(filename):
    data = pd.read_csv(filename)
    df = data[0:]
    df = df.dropna()
    return data, df

def runTTest(ivA, ivB, dv):
    ttest = scipy.stats.ttest_ind(ivA[dv],ivB[dv])
    print(ttest)
    
def runAnova(data, formula):
    model = ols(formula, data).fit()
    aov_table = sm.stats.anova_lm(model, typ=2)
    print(aov_table)

In [31]:
rawData, df = generateDataset('simpsons_paradox.csv')
print("Does gender correlate with admissions?")
men = df[df['Gender']=='Male']#.append(df[df['Gender']=='Male '])
women = df[df['Gender']=='Female']
runTTest(men,women,'Admitted')

print("Does department correlate with admissions?")
simpleFormula = 'Admitted ~ C(Department)'
runAnova(rawData, simpleFormula)

print("Do gender and department correlate with admissions?")
moreComplex = 'Admitted ~ C(Department) + C(Gender)'
runAnova(rawData, moreComplex)

Does gender correlate with admissions?
Ttest_indResult(statistic=1.2825084871664518, pvalue=0.22859473251723653)
Does department correlate with admissions?
                  sum_sq   df         F    PR(>F)
C(Department)   92266.75  5.0  0.737438  0.622205
Residual       150141.50  6.0       NaN       NaN
Do gender and department correlate with admissions?
                      sum_sq   df         F    PR(>F)
C(Department)   92266.750000  5.0  0.796080  0.595753
C(Gender)       34240.083333  1.0  1.477121  0.278477
Residual       115901.416667  5.0       NaN       NaN

1. What statistical test would you use for the following scenarios? 

    (a) Does a student's current year (e.g., freshman, sophomore, etc.) effect their GPA?

    (b) Has the amount of snowfall in the mountains changed over time? 

    (c) Over the last 10 years, have there been more hikers on average in Estes Park in the spring or summer? 

    (d) Does a student's home state predict their highest degree level?

2. You've been given some starter code in class that shows you how to set up ANOVAs and Student's T-Tests in addition to the regression code from the last few weeks. Now, use this code to more deeply explore the simpsons_paradox.csv dataset. Compute new dependent variables that shows the percentage of students admitted and rejected for each row in the CSV. Use those rows to try to understand what significant correlations exist in this data. What factors appear to contribute most heavily to admissions? Do you think the admissions process is biased based on the available data? Why or why not?

In [2]:
a = pd.read_csv("simpsons_paradox.csv")

In [5]:
a

    Gender  Mean_Age  Admitted  Rejected Department
0   Female        25        89        19          A
1   Female        22        17         8          B
2   Female        24       202       391          C
3   Female        23       131       244          D
4   Female        24        94       299          E
5   Female        24        24       317          F
6     Male        22       512       313          A
7     Male        22       353       207          B
8    Male         23       120       205          C
9    Male         24       138       279          D
10   Male         22        53       138          E
11   Male         25        22       351          F

In [16]:
men

  Gender  Mean_Age  Admitted  Rejected Department
6   Male        22       512       313          A
7   Male        22       353       207          B

In [17]:
df['Gender'].unique()

array(['Female', 'Male', 'Male '], dtype=object)